<!--md-card>heeloo hamid!!!</md-card-->


<md-tab-group>
  <md-tab label="Gallery">
    <md-card md-theme="dark-grey" md-theme-watch style="">
            <md-card-title>
              <span class="md-headline">Card with image</span><br><br>
              <md-card-subtitle>
                <span class="md-subhead">Large</span>
              </md-card-subtitle>
            </md-card-title>
              <md-card-content>

                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>Shiba Inu</md-card-title>
                    <md-card-subtitle>Dog Breed</md-card-subtitle>
                  </md-card-header>
                  <img md-card-image src="assets/img/index.jpg" />
            <md-card-actions layout="row" layout-align="end center">
                  <button md-raised-button class="md-icon-button" aria-label="Favorite">
                    <md-icon>favorite</md-icon>
                  </button>
                  <button md-button>All</button>
        <button md-raised-button>Of</button>
        <button md-raised-button color="primary">The</button>
        <button md-raised-button color="accent">Buttons</button>

                  <button md-raised-button class="md-icon-button" aria-label="Settings">
                    <md-icon>menu</md-icon>
                  </button>
                  <button md-raised-button class="md-icon-button" aria-label="Share">
                    <md-icon>share-arrow</md-icon>
                  </button>
            </md-card-actions>
          </md-card-content>
            <md-card-footer>Copyrights <3 </md-card-footer>
          </md-card>
  </md-tab>
  <md-tab label="Settings">

  </md-tab>

  <md-tab label="Forms">
<app-customer> </app-customer>

<app-delivery> </app-delivery>
<app-employee></app-employee>
<app-project></app-project>
<app-product></app-product>
<app-terminal></app-terminal>
<app-manufacture-line></app-manufacture-line>
<app-invoice></app-invoice>

  </md-tab>
</md-tab-group>


      <span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>
