md-card {
  max-width: 70%;
  margin: 2em auto;
  padding: 2em ;

}
.example-form {
  width: 500px;
}

.example-full-width {
  width: 50%;
}
span{
    max-width: 70%;
}

  md-input-container{
      width : 50% ;
      margin : 10px ;
      
  }
    md-select{
      margin: 10px ;
    }
