<md-card>
<h2> New Product </h2>
<form class="product-form">

  <div fxLayout="row">

  <md-input-container fxFlex>
   <input mdInput placeholder="Name" value="">
   <md-icon mdSuffix>edit</md-icon>
  </md-input-container>

  <md-input-container fxFlex >
   <input mdInput placeholder="Style Reference" value="">
   <md-icon mdSuffix>edit</md-icon>
  </md-input-container>

</div>

<div fxLayout="row" >
  <md-input-container fxFlex >
   <input mdInput placeholder="Quantity" type="number" value="">
   <md-icon mdSuffix>edit</md-icon>
  </md-input-container>

  <md-input-container fxFlex >
   <input mdInput placeholder="Description" value="">
   <md-icon mdSuffix>edit</md-icon>
  </md-input-container>
  
</div>


</form>

</md-card>
